---
import MainLayout from "@layouts/MainLayout.astro";
import { cn } from "@utils/cn";
import { pages, sections } from "@lib/sections";

const url = new URL(Astro.request.url);
const currentSection = sections.find(({ path }) => url.pathname.startsWith(path));
const currentPage = pages.find(({ path }) => url.pathname === path);
---

<MainLayout title={`Double River - ${currentSection?.label}`}>
  <main class="mx-auto pt-8 px-6 max-w-[100ch] min-h-screen flex flex-col">
    <div class="flex flex-col gap-6">
      <a class="flex items-center gap-4 justify-center" href="/">
        <img
          src={currentSection?.logo.src}
          class="w-16 h-16 sm:w-20 sm:h-20 select-none pointer-events-none"
          alt={currentSection?.logo.alt}
        />

        <div class="flex items-center justify-center flex-col">
          <span class="small-caps font-cambriaMath text-xl sm:text-2xl tracking-widest"
            >Double River</span
          >
          <span class="small-caps font-cambriaMath text-sm tracking-extrawidest">
            {currentSection?.logo.name}
          </span>
        </div>
      </a>

      <div class="flex items-center justify-center gap-2">
        {
          currentSection?.pages.map(({ label, path }) => {
            return (
              <a
                class={cn(
                  "rounded-[0.5rem] px-2.5 py-1 text-center text-sm font-medium sm:text-lg",
                  {
                    "text-investments": currentSection?.path === "/investments",
                    "bg-investments-muted":
                      currentPage?.path === path && currentSection?.path === "/investments",
                    "text-capital": currentSection?.path === "/capital",
                    "bg-capital-muted":
                      currentPage?.path === path && currentSection?.path === "/capital",
                    "text-impact": currentSection?.path === "/impact",
                    "bg-impact-muted":
                      currentPage?.path === path && currentSection?.path === "/impact",
                  },
                )}
                href={path}
              >
                {label}
              </a>
            );
          })
        }
      </div>
    </div>

    <div class="py-12 flex-grow">
      <slot />
    </div>

    <slot name="footer" />
  </main>
</MainLayout>
